<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input id="user" placeholder="Usuario" [(ngModel)]="user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input id="pass" type="password" placeholder="Contraseña" [(ngModel)]="pass"></ion-input>
  </ion-item>

  <ion-button id="btnLogin" expand="block" (click)="login()">Ingresar</ion-button>
  <ion-button id="btnRegister" expand="block" fill="outline" (click)="registrar()">Registrarse</ion-button>

</ion-content>
